In [6]:
import pandas as pd
import json

# Load the JSON file into a pandas DataFrame
with open('data.json') as f:
    data = json.load(f)
    df = pd.DataFrame(data)
print("old rows =", df.shape[0])

# Extract the necessary columns
df = df[['id', 'name', 'location', 'coordinates', 'review_count', 'rating', 'cuisine']]

# Extract the necessary fields from the 'location' column
df['address1'] = df['location'].apply(lambda x: x.get('address1', ''))
df['address2'] = df['location'].apply(lambda x: x.get('address2', ''))
df['address3'] = df['location'].apply(lambda x: x.get('address3', ''))
df['address'] = df['address1'] + ' ' + df['address2'].fillna('') + ' ' + df['address3'].fillna('')
df['city'] = df['location'].apply(lambda x: x.get('city', ''))
df['zip_code'] = df['location'].apply(lambda x: x.get('zip_code', ''))

# Extract the necessary fields from the 'coordinates' column
df['latitude'] = df['coordinates'].apply(lambda x: x.get('latitude', ''))
df['longitude'] = df['coordinates'].apply(lambda x: x.get('longitude', ''))

# Drop the 'location', 'coordinates', and 'address1', 'address2', 'address3' columns
df = df.drop(['location', 'coordinates', 'address1', 'address2', 'address3'], axis=1)

# Drop any rows with missing "id" values
df.dropna(subset=['id'], inplace=True)

# Drop any duplicate rows based on the "id" column
df.drop_duplicates(subset=['id'], inplace=True)

# Print the resulting DataFrame
print(df)
print("new rows = ", df.shape[0])

old rows = 7774
                          id  \
0     hdiuRS9sVZSMReZm4oV5SA
1     16ZnHpuaaBt92XWeJHCC5A
2     DoSU8IPq-Py_YV3kYmXPfQ
3     OWNmOq-TAsHjGcYdCVclSw
4     vjubSxmdG_HoBBgd39geBw
...                      ...
7766  sshS0FJ6tKkmLCcEKXyVkA
7769  iVjmB-Ei6s5oljif0VQxvQ
7771  co7xTKlReWfp-f5HbEeK0w
7772  b8J-hvOyE9D7fc0sFJ8HUA
7773  kKRzPQD6XF5Nx3pX2R8NIw

                                                   name  review_count  rating  \
0                                             Da Andrea          1822     4.5
1                                            Olio e Pi√π          4035     4.5
2                                   Trattoria Trecolori          2607     4.0
3                                       Osteria La Baia            68     4.5
4                                             Nino's 46          1353     4.0
...                                                 ...           ...     ...
7766  El Tepeyac Food Market: Carniceria, Grocery & ...            56     4.5
7769                                Terrace Coffee Shop           143     3.0
7771                                       Latin Cabana           283     3.5
7772                                     Surfish Bistro           419     4.0
7773                                        Chinelos II            84     3.5

      cuisine                address              city zip_code   latitude  \
0     italian         35 W 13th St            New York    10011  40.736218
1     italian      3 Greenwich Ave            New York    10014  40.733798
2     italian     254 West 47th St            New York    10036  40.759876
3     italian        129 W 52nd St            New York    10019  40.761896
4     italian         39 W 46th St            New York    10036  40.756905
...       ...                    ...               ...      ...        ...
7766  spanish  1621A Lexington Ave            New York    10029  40.789743
7769  spanish          598 19th St            Brooklyn    11218  40.654417
7771  spanish    34-15 Steinway St    Long Island City    11101  40.756177
7772  spanish          550 3rd Ave            Brooklyn    11215  40.668701
7773  spanish       530 W 136th St            New York    10031  40.820330

      longitude
0    -73.995970
1    -73.999774
2    -73.986767
3    -73.980675
4    -73.980516
...         ...
7766 -73.947903
7769 -73.979346
7771 -73.921110
7772 -73.993605
7773 -73.953780

[5371 rows x 10 columns]
new rows =  5371

In [7]:
# Write the modified DataFrame to a new JSON file
df.to_json('modified_data.json', orient='records')